<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-index") %>>
          <a href="/docs/providers/huaweicloud/index.html">HuaweiCloud Provider</a>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-datasource-identity-role-v3") %>>
              <a href="/docs/providers/huaweicloud/d/identity_role_v3.html">huaweicloud_identity_role_v3</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-images-image-v2") %>>
              <a href="/docs/providers/huaweicloud/d/images_image_v2.html">huaweicloud_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-networking-network-v2") %>>
              <a href="/docs/providers/huaweicloud/d/networking_network_v2.html">huaweicloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-networking-secgroup-v2") %>>
              <a href="/docs/providers/huaweicloud/d/networking_secgroup_v2.html">huaweicloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-networking-subnet-v2") %>>
              <a href="/docs/providers/huaweicloud/d/networking_subnet_v2.html">huaweicloud_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-networking-port-v2") %>>
              <a href="/docs/providers/huaweicloud/d/networking_port_v2.html">huaweicloud_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-kms-key-v1") %>>
              <a href="/docs/providers/huaweicloud/d/kms_key_v1.html">huaweicloud_kms_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-kms-data-key-v1") %>>
              <a href="/docs/providers/huaweicloud/d/kms_data_key_v1.html">huaweicloud_kms_data_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-rds-flavors-v1") %>>
              <a href="/docs/providers/huaweicloud/d/rds_flavors_v1.html">huaweicloud_rds_flavors_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-s3-bucket-object") %>>
              <a href="/docs/providers/huaweicloud/d/s3_bucket_object.html">huaweicloud_s3_bucket_object</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-sfs-file-sharing-v2") %>>
              <a href="/docs/providers/huaweicloud/d/sfs_file_sharing_v2.html">huaweicloud_sfs_file_sharing_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-rts-stack-v1") %>>
              <a href="/docs/providers/huaweicloud/d/rts_stack_v1.html">huaweicloud_rts_stack_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-rts-stack-resource-v1") %>>
              <a href="/docs/providers/huaweicloud/d/rts_stack_resource_v1.html">huaweicloud_rts_stack_resource_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vpc-v1") %>>
              <a href="/docs/providers/huaweicloud/d/vpc_v1.html">huaweicloud_vpc_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vpc-subnet-v1") %>>
              <a href="/docs/providers/huaweicloud/d/vpc_subnet_v1.html">huaweicloud_vpc_subnet_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vpc-subnet-ids-v1") %>>
              <a href="/docs/providers/huaweicloud/d/vpc_subnet_ids_v1.html">huaweicloud_vpc_subnet_ids_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vpc-peering-v2") %>>
              <a href="/docs/providers/huaweicloud/d/vpc_peering_v2.html">huaweicloud_vpc_peering_connection_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vpc-route-v2") %>>
              <a href="/docs/providers/huaweicloud/d/vpc_route_v2.html">huaweicloud_vpc_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vpc-route-ids-v2") %>>
              <a href="/docs/providers/huaweicloud/d/vpc_route_ids_v2.html">huaweicloud_vpc_route_ids_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-datasource-cce-cluster-v3") %>>
              <a href="/docs/providers/huaweicloud/d/cce_cluster_v3.html">huaweicloud_cce_cluster_v3</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-rts-cce-nodes-v3") %>>
              <a href="/docs/providers/huaweicloud/d/cce_nodes_v3.html">huaweicloud_rts_cce_nodes_v3</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-rts-software-config-v1") %>>
               <a href="/docs/providers/huaweicloud/d/rts_software_config_v1.html">huaweicloud_rts_software_config_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-csbs-backup-v1") %>>
              <a href="/docs/providers/huaweicloud/d/csbs_backup_v1.html">huaweicloud_csbs_backup_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-csbs-backup-policy-v1") %>>
              <a href="/docs/providers/huaweicloud/d/csbs_backup_policy_v1.html">huaweicloud_csbs_backup_policy_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vbs-backup-policy-v2") %>>
              <a href="/docs/providers/huaweicloud/d/vbs_backup_policy_v2.html">huaweicloud_vbs_backup_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-vbs-backup-v2") %>>
              <a href="/docs/providers/huaweicloud/d/vbs_backup_v2.html">huaweicloud_vbs_backup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-cts-tracker-v1") %>>
              <a href="/docs/providers/huaweicloud/d/cts_tracker_v1.html">huaweicloud_cts_tracker_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-antiddos-v1") %>>
              <a href="/docs/providers/huaweicloud/d/antiddos_v1.html">huaweicloud_antiddos_v1</a>
            <li<%= sidebar_current("docs-huaweicloud-datasource-dcs-product-v1") %>>
               <a href="/docs/providers/huaweicloud/d/dcs_product_v1.html">huaweicloud_dcs_product_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-dcs-az-v1") %>>
               <a href="/docs/providers/huaweicloud/d/dcs_az_v1.html">huaweicloud_dcs_az_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-dcs-maintainwindow-v1") %>>
               <a href="/docs/providers/huaweicloud/d/dcs_maintainwindow_v1.html">huaweicloud_dcs_maintainwindow_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-dms-product-v1") %>>
               <a href="/docs/providers/huaweicloud/d/dms_product_v1.html">huaweicloud_dms_product_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-dms-az-v1") %>>
               <a href="/docs/providers/huaweicloud/d/dms_az_v1.html">huaweicloud_dms_az_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-dms-maintainwindow-v1") %>>
               <a href="/docs/providers/huaweicloud/d/dms_maintainwindow_v1.html">huaweicloud_dms_maintainwindow_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-cdm-flavors-v1") %>>
              <a href="/docs/providers/huaweicloud/d/cdm_flavors_v1.html">huaweicloud_cdm_flavors_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-dis-partition-v2") %>>
              <a href="/docs/providers/huaweicloud/d/dis_partition_v2.html">huaweicloud_dis_partition_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-blockstorage") %>>
          <a href="#">Block Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/huaweicloud/r/blockstorage_volume_v2.html">huaweicloud_blockstorage_volume_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-floatingip-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_floatingip_v2.html">huaweicloud_compute_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-floatingip-associate-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_floatingip_associate_v2.html">huaweicloud_compute_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-instance-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_instance_v2.html">huaweicloud_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_keypair_v2.html">huaweicloud_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-secgroup-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_secgroup_v2.html">huaweicloud_compute_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-servergroup-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_servergroup_v2.html">huaweicloud_compute_servergroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_volume_attach_v2.html">huaweicloud_compute_volume_attach_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/huaweicloud/r/dns_recordset_v2.html">huaweicloud_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-dns-zone-v2") %>>
              <a href="/docs/providers/huaweicloud/r/dns_zone_v2.html">huaweicloud_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-fw") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-fw-firewall-group-v2") %>>
              <a href="/docs/providers/huaweicloud/r/fw_firewall_group_v2.html">huaweicloud_fw_firewall_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-fw-policy-v2") %>>
              <a href="/docs/providers/huaweicloud/r/fw_policy_v2.html">huaweicloud_fw_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-fw-rule-v2") %>>
              <a href="/docs/providers/huaweicloud/r/fw_rule_v2.html">huaweicloud_fw_rule_v2</a>
            </li>
          </ul>
        </li>

         <li<%= sidebar_current("docs-huaweicloud-resource-identity") %>>
          <a href="#">Identity Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-identity-project-v3") %>>
              <a href="/docs/providers/huaweicloud/r/identity_project_v3.html">huaweicloud_identity_project_v3</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-identity-user-v3") %>>
              <a href="/docs/providers/huaweicloud/r/identity_user_v3.html">huaweicloud_identity_user_v3</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-identity-group-v3") %>>
              <a href="/docs/providers/huaweicloud/r/identity_group_v3.html">huaweicloud_identity_group_v3</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-identity-group-membership-v3") %>>
              <a href="/docs/providers/huaweicloud/r/identity_group_membership_v3.html">huaweicloud_identity_group_membership_v3</a>
           </li>
           <li<%= sidebar_current("docs-huaweicloud-resource-identity-role-assignment-v3") %>>
              <a href="/docs/providers/huaweicloud/r/identity_role_assignment_v3.html">huaweicloud_identity_role_assignment_v3</a>
           </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-images") %>>
          <a href="#">Images Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-images-image-v2") %>>
              <a href="/docs/providers/huaweicloud/r/images_image_v2.html">huaweicloud_images_image_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-maas") %>>
          <a href="#">MAAS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-maas-task-v1") %>>
              <a href="/docs/providers/huaweicloud/r/maas_task_v1.html">huaweicloud_maas_task_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-mrs") %>>
          <a href="#">MRS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-mrs-cluster-v1") %>>
              <a href="/docs/providers/huaweicloud/r/mrs_cluster_v1.html">huaweicloud_mrs_cluster_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-mrs-job-v1") %>>
              <a href="/docs/providers/huaweicloud/r/mrs_job_v1.html">huaweicloud_mrs_job_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-floatingip-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_floatingip_v2.html">huaweicloud_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-floatingip-associate-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_floatingip_associate_v2.html">huaweicloud_networking_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-network-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_network_v2.html">huaweicloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-port-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_port_v2.html">huaweicloud_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-router-interface-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_router_interface_v2.html">huaweicloud_networking_router_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-router-route-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_router_route_v2.html">huaweicloud_networking_router_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-router-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_router_v2.html">huaweicloud_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-subnet-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_subnet_v2.html">huaweicloud_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-secgroup-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_secgroup_v2.html">huaweicloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-secgroup-rule-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_secgroup_rule_v2.html">huaweicloud_networking_secgroup_rule_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-vpc-v1") %>>
              <a href="/docs/providers/huaweicloud/r/vpc_v1.html">huaweicloud_vpc_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-vpc-subnet-v1") %>>
              <a href="/docs/providers/huaweicloud/r/vpc_subnet_v1.html">huaweicloud_vpc_subnet_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-vpc-route-v2") %>>
              <a href="/docs/providers/huaweicloud/r/vpc_route_v2.html">huaweicloud_vpc_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-vpc-peering-v2") %>>
              <a href="/docs/providers/huaweicloud/r/vpc_peering_v2.html">huaweicloud_vpc_peering_connection_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-vpc-peering-accepter-v2") %>>
              <a href="/docs/providers/huaweicloud/r/vpc_peering_accepter_v2.html">huaweicloud_vpc_peering_connection_accepter_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-lb") %>>
          <a href="#">Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-loadbalancer-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_loadbalancer_v2.html">huaweicloud_lb_loadbalancer_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-listener-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_listener_v2.html">huaweicloud_lb_listener_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-pool-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_pool_v2.html">huaweicloud_lb_pool_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-member-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_member_v2.html">huaweicloud_lb_member_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-monitor-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_monitor_v2.html">huaweicloud_lb_monitor_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-l7policy-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_l7policy_v2.html">huaweicloud_lb_l7policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-l7rule-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_l7rule_v2.html">huaweicloud_lb_l7rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-kms") %>>
          <a href="#">Kms Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-kms-key-v1") %>>
              <a href="/docs/providers/huaweicloud/r/kms_key_v1.html">huaweicloud_kms_key_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-nat") %>>
          <a href="#">Nat Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-nat-gateway-v2") %>>
              <a href="/docs/providers/huaweicloud/r/nat_gateway_v2.html">huaweicloud_nat_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-nat-snat-rule-v2") %>>
              <a href="/docs/providers/huaweicloud/r/nat_snat_rule_v2.html">huaweicloud_nat_snat_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-elb") %>>
          <a href="#">Elastic Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-loadbalancer") %>>
              <a href="/docs/providers/huaweicloud/r/elb_loadbalancer.html">huaweicloud_elb_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-listener") %>>
              <a href="/docs/providers/huaweicloud/r/elb_listener.html">huaweicloud_elb_listener</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-healthcheck") %>>
              <a href="/docs/providers/huaweicloud/r/elb_healthcheck.html">huaweicloud_elb_healthcheck</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-backendecs") %>>
              <a href="/docs/providers/huaweicloud/r/elb_backendecs.html">huaweicloud_elb_backendecs</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-s3") %>>
          <a href="#">S3 Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-s3_bucket") %>>
              <a href="/docs/providers/huaweicloud/r/s3_bucket.html">huaweicloud_s3_bucket</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-s3-bucket-object") %>>
              <a href="/docs/providers/huaweicloud/r/s3_bucket_object.html">huaweicloud_s3-bucket-object</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-s3-bucket-policy") %>>
              <a href="/docs/providers/huaweicloud/r/s3_bucket_policy.html">huaweicloud_s3_object_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-smn") %>>
          <a href="#">SMN Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-smn-subscription-v2") %>>
              <a href="/docs/providers/huaweicloud/r/smn_subscription_v2.html">huaweicloud_smn_subscription_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-smn-topic-v2") %>>
              <a href="/docs/providers/huaweicloud/r/smn_topic_v2.html">huaweicloud_smn_topic_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-rds") %>>
          <a href="#">RDS Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-rds-instance-v1") %>>
              <a href="/docs/providers/huaweicloud/r/rds_instance_v1.html">huaweicloud_rds_instance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-eip") %>>
          <a href="#">EIP Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-vpc-eip-v1") %>>
              <a href="/docs/providers/huaweicloud/r/vpc_eip_v1.html">huaweicloud_vpc_eip_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-sfs") %>>
          <a href="#">SFS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-sfs-file-system-v2") %>>
              <a href="/docs/providers/huaweicloud/r/sfs_file_system_v2.html">huaweicloud_sfs_file_system_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-rts-stack") %>>
          <a href="#">RTS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-rts-stack-v1") %>>
              <a href="/docs/providers/huaweicloud/r/rts_stack_v1.html">huaweicloud_rts_stack_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-rts-software-config-v1") %>>
              <a href="/docs/providers/huaweicloud/r/rts_software_config_v1.html">huaweicloud_rts_software_config_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-iam") %>>
          <a href="#">IAM Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-iam-agency-v3") %>>
              <a href="/docs/providers/huaweicloud/r/iam_agency_v3.html">huaweicloud_iam_agency_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-ces") %>>
          <a href="#">Cloud Eye Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-ces-alarmrule") %>>
              <a href="/docs/providers/huaweicloud/r/ces_alarmrule.html">huaweicloud_ces-alarmrule</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-as") %>>
          <a href="#">Auto Scaling Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-as-configuration-v1") %>>
              <a href="/docs/providers/huaweicloud/r/as_configuration_v1.html">huaweicloud_as_configuration_v1</a>
            </li>

            <li<%= sidebar_current("docs-huaweicloud-resource-as-group-v1") %>>
              <a href="/docs/providers/huaweicloud/r/as_group_v1.html">huaweicloud_as_group_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-as-policy-v1") %>>
              <a href="/docs/providers/huaweicloud/r/as_policy_v1.html">huaweicloud_as_policy_v1</a>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-huaweicloud-resource-csbs") %>>
          <a href="#">CSBS Resources</a>
          <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-huaweicloud-resource-csbs-backup-v1") %>>
                <a href="/docs/providers/huaweicloud/r/csbs_backup_v1.html">huaweicloud_csbs_backup_v1</a>
              </li>
              <li<%= sidebar_current("docs-huaweicloud-resource-csbs-backup-policy-v1") %>>
                <a href="/docs/providers/huaweicloud/r/csbs_backup_policy_v1.html">huaweicloud_csbs_backup_policy_v1</a>
              </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-cts") %>>
          <a href="#">CTS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-cts-tracker-v1") %>>
              <a href="/docs/providers/huaweicloud/r/cts_tracker_v1.html">huaweicloud_cts_tracker_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-cce") %>>
          <a href="#">CCE Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-cce-cluster-v3") %>>
              <a href="/docs/providers/huaweicloud/r/cce_cluster_v3.html">huaweicloud_cce_cluster_v3</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-cce-nodes-v3") %>>
              <a href="/docs/providers/huaweicloud/r/cce_nodes_v3.html">huaweicloud_cce_nodes_v3</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-vbs") %>>
          <a href="#">VBS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-vbs-backup-policy-v2") %>>
              <a href="/docs/providers/huaweicloud/r/vbs_backup_policy_v2.html">huaweicloud-vbs-backup-policy-v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-vbs-backup-v2") %>>
              <a href="/docs/providers/huaweicloud/r/vbs_backup_v2.html">huaweicloud-vbs-backup-v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-dcs") %>>
          <a href="#">DCS Resources</a>
          <ul class="nav nav-visible">
			<li<%= sidebar_current("docs-huaweicloud-resource-dcs-instance-v1") %>>
              <a href="/docs/providers/huaweicloud/r/dcs_instance_v1.html">huaweicloud_dcs_instance_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-dms") %>>
          <a href="#">DMS Resources</a>
          <ul class="nav nav-visible">
			<li<%= sidebar_current("docs-huaweicloud-resource-dms-group-v1") %>>
              <a href="/docs/providers/huaweicloud/r/dms_group_v1.html">huaweicloud_dms_group_v1</a>
            </li>
			<li<%= sidebar_current("docs-huaweicloud-resource-dms-instance-v1") %>>
              <a href="/docs/providers/huaweicloud/r/dms_instance_v1.html">huaweicloud_dms_instance_v1</a>
            </li>
			<li<%= sidebar_current("docs-huaweicloud-resource-dms-queue-v1") %>>
              <a href="/docs/providers/huaweicloud/r/dms_queue_v1.html">huaweicloud_dms_queue_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-dws") %>>
          <a href="#">DWS Resources Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-dws-cluster") %>>
              <a href="/docs/providers/huaweicloud/r/dws_cluster.html">huaweicloud_dws_cluster</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-mls") %>>
          <a href="#">MLS Resources Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-mls-instance") %>>
              <a href="/docs/providers/huaweicloud/r/mls_instance.html">huaweicloud_mls_instance</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-cdm") %>>
          <a href="#">CDM Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-cdm-cluster-v1") %>>
              <a href="/docs/providers/huaweicloud/r/cdm_cluster_v1.html">huaweicloud_cdm_cluster_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-ges") %>>
          <a href="#">GES Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-ges-graph-v1") %>>
              <a href="/docs/providers/huaweicloud/r/ges_graph_v1.html">huaweicloud_ges_graph_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-cloudtable") %>>
          <a href="#">CloudTable Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-cloudtable-cluster-v2") %>>
              <a href="/docs/providers/huaweicloud/r/cloudtable_cluster_v2.html">huaweicloud_cloudtable_cluster_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-css") %>>
          <a href="#">CSS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-css-cluster-v1") %>>
              <a href="/docs/providers/huaweicloud/r/css_cluster_v1.html">huaweicloud_css_cluster_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-dis") %>>
          <a href="#">DIS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-dis-stream-v2") %>>
              <a href="/docs/providers/huaweicloud/r/dis_stream_v2.html">huaweicloud_dis_stream_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-cs") %>>
          <a href="#">Cloud Stream Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-cs-cluster-v1") %>>
              <a href="/docs/providers/huaweicloud/r/cs_cluster_v1.html">huaweicloud_cs_cluster_v1</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
