<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-index") %>>
          <a href="/docs/providers/huaweicloud/index.html">HuaweiCloud Provider</a>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-datasource-images-image-v2") %>>
              <a href="/docs/providers/huaweicloud/d/images_image_v2.html">huaweicloud_images_image_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-networking-network-v2") %>>
              <a href="/docs/providers/huaweicloud/d/networking_network_v2.html">huaweicloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-networking-secgroup-v2") %>>
              <a href="/docs/providers/huaweicloud/d/networking_secgroup_v2.html">huaweicloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-networking-subnet-v2") %>>
              <a href="/docs/providers/huaweicloud/d/networking_subnet_v2.html">huaweicloud_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-kms-key-v1") %>>
              <a href="/docs/providers/huaweicloud/d/kms_key_v1.html">huaweicloud_kms_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-kms-data-key-v1") %>>
              <a href="/docs/providers/huaweicloud/d/kms_data_key_v1.html">huaweicloud_kms_data_key_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-rds-flavors-v1") %>>
              <a href="/docs/providers/huaweicloud/d/rds_flavors_v1.html">huaweicloud_rds_flavors_v1</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-datasource-s3-bucket-object") %>>
              <a href="/docs/providers/huaweicloud/d/s3_bucket_object.html">huaweicloud_s3_bucket_object</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-blockstorage") %>>
          <a href="#">Block Storage Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-blockstorage-volume-v2") %>>
              <a href="/docs/providers/huaweicloud/r/blockstorage_volume_v2.html">huaweicloud_blockstorage_volume_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-compute") %>>
          <a href="#">Compute Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-floatingip-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_floatingip_v2.html">huaweicloud_compute_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-floatingip-associate-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_floatingip_associate_v2.html">huaweicloud_compute_floatingip_associate_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-instance-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_instance_v2.html">huaweicloud_compute_instance_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-keypair-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_keypair_v2.html">huaweicloud_compute_keypair_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-secgroup-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_secgroup_v2.html">huaweicloud_compute_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-servergroup-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_servergroup_v2.html">huaweicloud_compute_servergroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-compute-volume-attach-v2") %>>
              <a href="/docs/providers/huaweicloud/r/compute_volume_attach_v2.html">huaweicloud_compute_volume_attach_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-dns") %>>
          <a href="#">DNS Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-dns-recordset-v2") %>>
              <a href="/docs/providers/huaweicloud/r/dns_recordset_v2.html">huaweicloud_dns_recordset_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-dns-zone-v2") %>>
              <a href="/docs/providers/huaweicloud/r/dns_zone_v2.html">huaweicloud_dns_zone_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-fw") %>>
          <a href="#">Firewall Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-fw-firewall-group-v2") %>>
              <a href="/docs/providers/huaweicloud/r/fw_firewall_group_v2.html">huaweicloud_fw_firewall_group_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-fw-policy-v2") %>>
              <a href="/docs/providers/huaweicloud/r/fw_policy_v2.html">huaweicloud_fw_policy_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-fw-rule-v2") %>>
              <a href="/docs/providers/huaweicloud/r/fw_rule_v2.html">huaweicloud_fw_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-images") %>>
          <a href="#">Images Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-images-image-v2") %>>
              <a href="/docs/providers/huaweicloud/r/images_image_v2.html">huaweicloud_images_image_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-networking") %>>
          <a href="#">Networking Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-floatingip-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_floatingip_v2.html">huaweicloud_networking_floatingip_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-network-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_network_v2.html">huaweicloud_networking_network_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-port-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_port_v2.html">huaweicloud_networking_port_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-router-interface-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_router_interface_v2.html">huaweicloud_networking_router_interface_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-router-route-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_router_route_v2.html">huaweicloud_networking_router_route_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-router-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_router_v2.html">huaweicloud_networking_router_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-subnet-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_subnet_v2.html">huaweicloud_networking_subnet_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-secgroup-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_secgroup_v2.html">huaweicloud_networking_secgroup_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-networking-secgroup-rule-v2") %>>
              <a href="/docs/providers/huaweicloud/r/networking_secgroup_rule_v2.html">huaweicloud_networking_secgroup_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-lb") %>>
          <a href="#">Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-loadbalancer-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_loadbalancer_v2.html">huaweicloud_lb_loadbalancer_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-listener-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_listener_v2.html">huaweicloud_lb_listener_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-pool-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_pool_v2.html">huaweicloud_lb_pool_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-member-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_member_v2.html">huaweicloud_lb_member_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-lb-monitor-v2") %>>
              <a href="/docs/providers/huaweicloud/r/lb_monitor_v2.html">huaweicloud_lb_monitor_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-kms") %>>
          <a href="#">Kms Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-kms-key-v1") %>>
              <a href="/docs/providers/huaweicloud/r/kms_key_v1.html">huaweicloud_kms_key_v1</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-nat") %>>
          <a href="#">Nat Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-nat-gateway-v2") %>>
              <a href="/docs/providers/huaweicloud/r/nat_gateway_v2.html">huaweicloud_nat_gateway_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-nat-snat-rule-v2") %>>
              <a href="/docs/providers/huaweicloud/r/nat_snat_rule_v2.html">huaweicloud_nat_snat_rule_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-resource-elb") %>>
          <a href="#">Elastic Load Balancer Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-loadbalancer") %>>
              <a href="/docs/providers/huaweicloud/r/elb_loadbalancer.html">huaweicloud_elb_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-listener") %>>
              <a href="/docs/providers/huaweicloud/r/elb_listener.html">huaweicloud_elb_listener</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-healthcheck") %>>
              <a href="/docs/providers/huaweicloud/r/elb_healthcheck.html">huaweicloud_elb_healthcheck</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-resource-elb-backendecs") %>>
              <a href="/docs/providers/huaweicloud/r/elb_backendecs.html">huaweicloud_elb_backendecs</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-s3") %>>
          <a href="#">S3 Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-s3_bucket") %>>
              <a href="/docs/providers/huaweicloud/r/s3_bucket.html">huaweicloud_s3_bucket</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-s3-bucket-object") %>>
              <a href="/docs/providers/huaweicloud/r/s3_bucket_object.html">huaweicloud_s3-bucket-object</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-s3-bucket-policy") %>>
              <a href="/docs/providers/huaweicloud/r/s3_bucket_policy.html">huaweicloud_s3_object_policy</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-smn") %>>
          <a href="#">SMN Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-smn-subscription-v2") %>>
              <a href="/docs/providers/huaweicloud/r/smn_subscription_v2.html">huaweicloud_smn_subscription_v2</a>
            </li>
            <li<%= sidebar_current("docs-huaweicloud-smn-topic-v2") %>>
              <a href="/docs/providers/huaweicloud/r/smn_topic_v2.html">huaweicloud_smn_topic_v2</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-huaweicloud-rds") %>>
          <a href="#">RDS Resource</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-huaweicloud-rds-instance-v1") %>>
              <a href="/docs/providers/huaweicloud/r/rds_instance_v1.html">huaweicloud_rds_instance_v1</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>

      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
